# PySide6 chosen over PyQt6 for its LGPL license, which keeps commercial
# distribution simple if this app is monetized later. Pin the exact version
# once you've built and tested against it, e.g. PySide6==6.8.2
PySide6
