# PySide6 chosen over PyQt6 for its LGPL license, which keeps commercial
# distribution simple if this app is monetized later. Pinned to match the
# version ImageImporter (this project's sibling app) is built/tested
# against, so both apps' packaging pipelines stay in lockstep.
PySide6==6.9.1
